html, body, div, span,
h1, h2, h3, h4, h5, h6, p, a,address,
img, q, s,
small, strike, strong, sub, sup, var,
b, u, i, center,
dl, dt, dd, ol, ul, footer, header,
menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin:0;
}
ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
}