* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1800px;
    width: 92%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


/* HEADER */


header {
    background-color: #131210;
    padding-top: 3vw;
    overflow: auto;
}

.row_header {
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 2.9vw;
}

header  nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header_button {
    font-size: 0.8vw;
    font-weight: 900;
    color: #135ec5;
    background-color: white;
    width: 6.5vw;
    height: 2.8vw;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}

.header_link {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 2.3vw;
}

.header_link img {
    width: 1.7vw;
}

.header_link a {
    color: white;
    font-size: 0.8vw;
    font-weight: 700;
    margin-left: 0.95vw;
}


/* MAIN */


/* MAIN_PRIMARY */


.main_primary {
    padding: 8.3vw 0 5vw;
    background-color: #131210;
    height: auto;
}

.main_mersedes {
    max-width: 1400px;
    width: 80.5%;
    display: flex;
    justify-content: center;
    position: relative;
}

.main_mersedes img {
    width: 40vw;
    position: absolute;
    top: 5.5vw;
    left: 15.8vw;
}

.mersedes_text p {
    font-size: 9vw;
    font-optical-sizing: auto;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: #131210;
    background-color: #0f0f0d;
    letter-spacing: 0.5vw;
    border-radius: 76px;
    box-shadow: -0.1vw 0 0 1.3vw rgb(16 15 14 / 72%), 0 0 0.1vw 3vw rgb(0 0 0 / 6%);
}

.mersedes_btn {
    position: absolute;
    top: 25%;
    right: 0;
}

.mersedes_btn span {
    background-color: #3c3c3c;
    width: 0.5vw;
    height: 0.5vw;
    display: block;
    border-radius: 50%;
    margin: 0.4vw 0;
    cursor: pointer;
}

.row_mersedes {
    justify-content: center;
    position: relative;
}

.mersedes_btn span:nth-child(2) {
    background: #135ec5;
}

.main_search {
    margin-top: 16vw;
    width: 80.5%;
}

.main_search h4 {
    text-align: center;
    font-size: 0.85vw;
    color: white;
    font-weight: 900;
    margin-bottom: 2.8vw;
}

.main_search form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_search form input {
    width: 17.5vw;
    color: #3c3c3c;
    font-size: 0.95vw;
    background: none;
    border: none;
    outline: none;
    border-bottom: 0.15vw solid #282726;
    padding-bottom: 0.53vw;
    font-weight: 900;
}

.main_search form button {
    width: 11.1vw;
    background-color: #135ec5;
    color: white;
    font-size: 0.6vw;
    font-weight: 900;
    height: 2.9vw;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}


/* MAIN_CHOICE */


.main_choice {
    padding: 3vw 0 0;
}

.main_choice h4 {
    color: #c1c1c1;
    font-size: 0.9vw;
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin-bottom: 3.6vw;
}

.choice_brand {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3.1vw;
}

.choice_brand div {
    max-width: 8%;
}

.choice_brand div a {
    display: inline-block;
}

.choice_brand img {
    filter: opacity(0.5);
    max-width: 100%;
}

.choice_brand img:hover {
    filter: unset;
    opacity: 1;
}

hr {
    outline: none;
    border: none;
    border-bottom: 1px solid #e3e3e3;
}

.choice {
    margin: 6.3vw 0 8.2vw;
}

.choice-row {
    justify-content: space-evenly;
}

.choice_car {
    width: 45%;
    position: relative;
}

.choise_car-banner p {
    font-size: 9vw;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.6vw;
    text-shadow: 0px 0px 15px rgb(194 194 194 / 35%);
}

.choice_car img {
    width: 30vw;
    position: absolute;
    top: 2.8vw;
    left: 3.7vw;
}

.choice_car-text {
    max-width: 694px;
    width: 40%;
    margin-top: 2.9vw;
}

.choice_car-text h2 {
    color: #135ec5;
    font-size: 2.3vw;
    font-weight: 900;
    margin-bottom: 8%;
}

.choice_car-text p {
    color: #c1c1c1;
    font-size: 0.75vw;
    line-height: 2.1vw;
    max-width: 90%;
}

.car-text_view {
    margin-top: 3.5vw;
    max-width: 214px;
    max-height: 57px;
}

.car-text_view a {
    padding: 1.2vw 1.8vw;
    text-transform: uppercase;
    display: inline-block;
    background-color: #135ec5;
    border-radius: 30px;
    color: white;
    font-size: 0.8vw;
    font-weight: 900;
}


/* MAIN_ADD */


.main_add {
    background-color: #135ec5;
    padding: 7.6vw 0 10.9vw;
    position: relative;
}

.row_add {
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.main_add h3 {
    color: white;
    font-size: 2.3vw;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4.4vw;
}

.main_add button {
    max-width: 215px;
    width: 13vw;
    height: 2.8vw;
    border-radius: 30px;
    border: 0.2vw solid white;
    background-color: #135ec5;
    font-size: 0.7vw;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
}

.add_car {
    position: absolute;
    bottom: -5vw;
}

.add_car img {
    width: 31vw;
}


/* MAIN_CARDS */


.main_cards {
    background-color: #fdfdfe;
    padding: 13.5vw 0 8vw;

}

.row-cards {
    justify-content: space-around;
    align-items: center;
}

.short-card {
    width: 23.5vw;
    background-color: white;
    box-shadow: 0px 0px 14px 6px rgb(244 244 244);
    padding-bottom: 2.3vw;
    height: 29vw;
}

.short-card_icon {
    background-image: url(./../img/Main-Box.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 10vw;
}

.short-card_icon span{
    display: block;
    padding: 0.47vw 1vw;
    background-color: white;
    color: #135ec5;
    font-size: 0.6vw;
    top: 1.48vw;
    right: 1.3vw;
    position: absolute;
    border-radius: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.short-card_icon img {
    position: absolute;
    bottom: -4.6vw;
    width: 14.6vw;
}

.short-card h5 {
    margin: 6vw 0 0.7vw;
    font-size: 1.3vw;
    color: #000000;
    font-weight: 900;
    text-align: center;
}

.short-card h6 {
    color: #135ec5;
    font-size: 0.8vw;
    font-weight: 900;
    margin-bottom: 1.5vw;
    text-align: center;
}

.short-card p {
    color: #c1c1c1;
    font-size: 0.9vw;
    text-align: center;
    font-weight: 400;
    margin-bottom: 1.9vw;
}

.short-card-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.short-card-price span {
    font-size: 1.15vw;
    color: #16ad2c;
    font-weight: 700;
    display: inline-block;
    margin-right: 1.9vw;
}

.short-card-price a {
    display: inline-block;
    color: white;
    padding: 0.8vw 2.2vw;
    background-color: #e2e2e2;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.7vw;
}

.big-card {
    padding-top: 3.4vw;
    background-color: #ffffff;
    background-image: url(./../img/BG.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 35.4vw;
    max-width: 950px;
    width: 50vw;
    box-shadow: 0px 0px 14px 6px rgb(244 244 244);
    position: relative;
    padding-left: 3.55vw;
}

.span-fresh {
    display: block;
    padding: 0.47vw 1vw;
    background-color: white;
    color: #135ec5;
    font-size: 0.6vw;
    top: 3.4vw;
    right: 1.7vw;
    position: absolute;
    border-radius: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.big-card_information {
width: 43%;
}

.big-card_information h5 {
    color: #135ec5;
    font-size: 1.3vw;
    font-weight: 900;
    margin-bottom: 2.1vw;
}

.big-card_information p {
    color: #c1c1c1;
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 2.4vw;
}

.big-card_information a {
    display: inline-block;
    color: white;
    padding: 1.05vw 3vw;
    background-color: #135ec5;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.7vw;
    margin-top: 3.4vw;
}

.information_price {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-bottom: 7.4vw;
}

.information_price h6 {
    color: #e2e2e2;
    font-size: 0.7vw;
    font-weight: 900;
}

.information_price span {
    color: #16ad2c;
    font-size: 1.1vw;
    font-weight: 700;
}

.big-card_slide {
    position: absolute;
    right: 10vw;
    bottom: 4.5vw;
    display: flex;
    align-items: center;
}

.big-card_slide span {
    width: 0.34vw;
    height: 0.34vw;
    display: inline-block;
    background-color: #1550a1;
    border-radius: 50%;
    margin: 0 0.4vw;
}

span.slide-active {
    width: 0.53vw;
    height: 0.53vw;
    background-color: white;
}


/* MAIN_GLOBAL-SEARCH */


.main_global-search {
    padding-bottom: 9vw;
}

.main_global-search form {
    width: 76vw;
    margin: 0 auto;
    box-shadow: 0px 0px 14px 6px rgb(244 244 244);
    padding-top: 3.8vw;
}

.row_global-search {
    flex-direction: column;
    align-items: center;
}

.global-search_categories {
    background: white;
    padding-bottom: 0.55vw;
}

.global-search_category {
    width: 71.3vw;
    margin-bottom: 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.global-search_category input{
    color: black;
    font-size: 0.9vw;
    font-weight: 900;
    padding-bottom: 0.8vw;
    border: none;
    border-bottom: 1px solid #ebebeb;
    width: 16.4vw;
    outline: none;
}

.global-search_category input::-webkit-input-placeholder {
    color: #c1c1c1;
}

.input-citi {
    background-image: url(./../img/Pin.png);
    background-repeat: no-repeat;
    background-position: top right 2px;
    background-size: 0.9vw;
}

hr.hr {
    border-bottom: 2px solid #f5f5f5;
    width: 100%;
}

.global-search_brand {
    width: 71.3vw;
    margin-top: 2vw;
}

.global-search_brand div {
    max-width: 4%;
}


.global-search_advances-search {
    background-color: #135ec5;
    position: relative;
    padding-bottom: 3vw;
}

.global-search_advances-search .row {
    flex-direction: column;
    align-items: center;
}

.global-search_advances-search h5 {
    color: white;
    font-size: 0.55vw;
    background-color: #135ec5;
    width: fit-content;
    font-weight: 700;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0.7vw 1.45vw;
    position: absolute;
    top: -1.5vw;
    left: 45%;
}

.advances-search_input {
    width: 71.3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 3.8vw;
}

.advances-search_input input {
    color: white;
    font-size: 0.9vw;
    font-weight: 900;
    padding-bottom: 0.8vw;
    border: none;
    border-bottom: 1px solid #3676ce;
    width: 16.4vw;
    outline: none;
    background-color: #135ec5;
    margin-bottom: 3.2vw;
}

.advances-search_input input::-webkit-input-placeholder {
    color: #3676ce;
}

.global-search_advances-search button {
    background-color: white;
    color: #135ec5;
    font-size: 0.7vw;
    text-transform: uppercase;
    font-weight: 900;
    border: none;
    border-radius: 30px;
    width: 10.7vw;
    height: 2.9vw;
    cursor: pointer;
}